html {
    font-size: 14px;
    background: url('./images/newbackr.gif') bottom center;
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
  }


body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 97%;
  }


.buttons { 
  display: flex;
  
  height: 93%;
  align-items: center;
  justify-content: center;
}


button {
    border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.Score {
    display: flex;
    flex: 1;
    align-items: baseline;
    justify-content: center;
    color: purple;
    font-size: 20px;
    gap: 40px;
    padding-top: 100px;
}


.intro {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;

}


.popopUp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: purple;
  font-size: 20px;
  font-weight: bold;
  margin-top: -200px;
}


.endPop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: -60px;
  font-size: 37px;
  font-weight: bold;
  color: rgb(214, 64, 114);
}


.finalPop {
  display: flex;
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height:100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}


 .poppityPop {
  display: flex;
  background-color: #fefefe;
  margin: 15px; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 40%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
 }
  
  img {
    display: flex;
  }

 .yesNo {
  flex-direction: row;
 }


.finalPop.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}